#fallback{
	margin:100px auto 100px auto;
	font-size: 20px;
	text-align: center;
	color: white;
	
}

#illegalBar{
	width:800px;
	height:340px;
}

section#ReutersGraphicsCharts header{
  position: fixed;
  text-align: center;
  top:0;
  left:-2px;
  width: 100%;
  padding: 10px 0 20px 0;
  background: #FFF;
  -webkit-box-shadow: 0 0px 10px -2px #cccccc;
  -moz-box-shadow: 0 0px 10px -2px #cccccc;
  box-shadow: 0 0px 10px -2px #cccccc;
  z-index: 10000000;
	
}

section#ReutersGraphicsCharts #logo{
	background-image: url('../img/thelogo.png');
	height:30px;
	background-position: center center;
	background-repeat: no-repeat;
	width:100%;
	margin-top:7px;
}


/*Footer et cet.*/
footer a{
	text-decoration: none;
	color:black;
	font-family: SourceSansPro-Bold;
}


footer {
  float: left;
  background-color: #F3F3F3;
  border-top: 1px solid #EAEAEA;
  color: #aaa;
  width: 100%;

}
footer .wrapper {
  padding: 1.8em 0;
}
footer a:link,
footer a:visited {
  color: #949494;
}
footer a:hover,
footer a:active,
footer a:focus {
  color: #444444;
}
footer ul {
  margin-bottom: 1.9em;
  color: #ddd;
  font-size: .75em;
  text-align: center;
}
footer li {
  display: inline;
  border-right: 1px solid #CCC;
  margin-right: .3em;
  padding-right: 0.6em;
}
footer li.last-child {
  border: none;
}
footer p {
  font-size: .7em;
  line-height: 1.6em;
}
